{% extends "base.html" %}
{% block title %}Add job{% endblock %}
{% block content %}

<b-row align-h="center" class="mt-3">
    <b-col lg="10">
        <job-form :job="job"
                  :job-triggers="jobTriggers"
                  :available-jobs="availableJobs"
                  :cancel-to="jobListLink"
                  :is-update="isUpdate">
    </b-col>
</b-row>

{% endblock %}

{% block mixins %}{% endblock %}

{% block javascript %}
{{ super() }}
<script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data() {
            return {
                jobTriggers: [],
                availableJobs: [],
                job: {
                    id: null,
                    name: null,
                    module: null,
                    trigger: null,
                    kwargs: '{}',
                    // Date trigger parameter set
                    run_date: null,
                    // Interval trigger parameter set
                    weeks: 0,
                    days: 0,
                    hours: 0,
                    minutes: 1,
                    seconds: 0,
                    // Cron trigger parameter set
                    year: '*',
                    month: '*',
                    day: '*',
                    week: '*',
                    day_of_week: '*',
                    hour: '*',
                    minute: '*',
                    second: '0',
                    // Interval/Cron trigger parameter set
                    start_date: null,
                    end_date: null,
                },
                jobListLink: this.$frontRoutes.jobsView,
                isUpdate: false,
            }
        },
        created() {
            axios.get(this.$apiRoutes.jobCommonDataView).then(
                response => {
                    this.jobTriggers = response.data.data.job_triggers;
                    this.availableJobs = response.data.data.available_jobs;
                }
            );
        }
    });
</script>
{% endblock %}
